.lable-text {
  text-align: center;
  padding-left: 120px;
}

Button {
    width: 24% !important;
    align-items: center;
}

.formCard {
  background-color: hsl(0, 0%, 7%, 60%);
    margin-left: 35% !important;   
    margin-right: 35% !important;
}
.form {
  color: #eee;
}

.text {
  color: #eee !important;
}

@media only screen and (max-width: 1100px) {
    .formCard {
      width: 400px;
    }
  }

  @media only screen and (max-width: 600px) {
    .formCard {
      width: 100% !important;
      margin-left: none !important;
    }
  }
