.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.containers{
    display: flex;
    flex-direction: row !important;
}

.tog {
    display: grid;
    grid-template-rows: 1;
}

@media (max-width:600px) {
    .toggle {
        width: 80% !important;
    }
}

.css-1fo9xbs {
    width: 140px;
}