.container {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 30px;
    font-weight: 600;
    font-style: bold;
    text-align: center;
    color: #eee;
}
.grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin-left: 10%;
}
.row {
    display: grid;
    grid-column: 2;
}
.description {
    background-color: hsl(0, 0%, 7%, 60%);
    border-radius: 20px;
    border: #eee;
    border-style: solid;
    border-width: 3px;
    width: 30vw;
    margin: 3%;
    padding: 1%;
    color: #eee;
    font-size: 25px;

}
.image {
    margin: 3%;
    padding: .25%;
    width: 20vw !important;
}
.info {
    background-color: hsl(0, 0%, 7%, 60%);
    color: #eee;
    border-radius: 20px;
    border: #eee;
    border-style: solid;
    border-width: 3px;
    width: 60%;
    margin: 3%;
    padding: 1%;
    text-align: center;
    width: 40vw;
    font-size: 50px;
}
.btns {
    text-align: center;
    border-color: #eee !important;
    margin: 3%;
    width: 80vw;
    margin-left: 4%;
    cursor: pointer;
}
.price {
    margin-top: 8%;
}

@media only screen and (max-width: 905px) {
    .title{
        display: flex;
        flex-direction: column;
    }
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .image {
        width: 60vw !important;
    }
    .btns {
        margin-left: 35%;
    }
}